<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./../public/css/bootstrap.css">
</head>
<body>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <nav class="navbar navbar-inverse" style="border-radius: unset;">
      <a class="navbar-brand" href="#">Title</a>
      <ul class="nav navbar-nav">
        <li class="active">
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Link</a>
        </li>
      </ul>
    </nav>


    <div class="row" style="margin: auto;">
      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 right">
        <div class="input-group">
          <input type="text" class="form-control" id="exampleInputAmount" placeholder="Search">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>
  <script src="./../public/js/jquery-3.3.1.js"></script>
  <script src="./../public/js/bootstrap.js"></script>
</body>
</html>